.titulo-principal {
	font-size: 3.5em;	
}

.text-negrilla {
	font-weight: bold;
}

.padding-mas {
	padding: 10px 15px;
}

.separador {
	margin: 10px 0;
}

.img-brand {
	width: 200px;
}

.container-small {
	width: 70%;
}

.container-small img {
	display: block;
	text-align: center;	
	margin-left: auto;
	margin-right: auto;
}